/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}



nav {
    background-color: #333; /* Background color of the navbar */
    padding: 15px; /* Padding around the navbar */
    display: flex;
    width: 100%;
    z-index: 1;
    position: fixed;
}

nav .brand {
    color: rgba(245, 101, 101, 0.707);
    font-size: 1.9em;
    font-weight: 700;

}


.container {
    display: flex;
}

.right-menu {
    list-style: none; /* Remove bullets from the list */
    display: flex; /* Display items in a row */
    margin-left: 330px;
}

.right-menu li {
    position: relative; /* Position relative for the dropdown */
}

.right-menu a {
    color: rgb(197, 197, 197); /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px; /* Padding for links */
    display: block; /* Block display for easier hovering */
}

.right-menu a:hover {
    color:rgba(182, 170, 170, 0.601);
}
.hamburger{
    display: none;
    cursor: pointer;
    font-size: 30px;
}


.dropdown-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position it relative to the dropdown */
    background-color:#333; /* Background color of dropdown */
    min-width: 130px; /* Minimum width */
    z-index: 1; /* Layering */
}

.dropdown-content a {
    color: rgb(197, 197, 197); /* Text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Block display for dropdown links */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

.dropdown:hover .dropbtn {
    background-color: #575757; /* Change background of More on hover */
}

.select-content {
    display: none; /* Hide dropdown content by default */
    position: absolute; /* Position it relative to the dropdown */
    background-color:#333; /* Background color of dropdown */
    min-width: 130px; /* Minimum width */
    z-index: 1; /* Layering */
}

.select-content a {
    color: rgb(197, 197, 197); /* Text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Block display for dropdown links */
}

.select:hover .select-content {
    display: block; /* Show dropdown on hover */
}

.select:hover .dropbtn {
    background-color: #575757; /* Change background of More on hover */
}




/* navbar */


/* Hero Section */
#hero {
    height: 100vh;
    background: url('https://static.vecteezy.com/system/resources/previews/012/105/202/non_2x/abstract-technology-futuristic-glowing-blue-and-red-light-lines-with-speed-motion-blur-effect-on-dark-blue-background-vector.jpg') center/cover no-repeat ; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}


.hero-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: rgb(173, 112, 112);
    padding-left: 10px;
    padding-right: 10px;

}

.hero-content p {
    font-size: 20px;
    color: rgb(173, 112, 112);
    padding-left: 10px;
    padding-right: 10px;

}

.highlight {
    color: #e74c3c;
}

.hero-content .btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #ce4434;
    color: rgb(4, 1, 1);
    margin-top: 20px;
    transition: 0.3s;
}

.hero-content .btn:hover {
    background-color: rgb(151, 12, 12);
    color: #e74c3c;
    transition: 0.3s;
}

/* Section Styles */
.section {
    padding: 80px 32px;
}

.section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;

    color: #333;
}

.section .content {
    max-width: 900p;
    margin: 0 auto;
}

/* About Section Styles */
#about {
    background-color: #d3d3d3c4; /* Background color for the About section */
    padding: 80px 32px;
    display: flex; /* Enable flexbox for layout */
    align-items: flex-start; /* Align items at the start */
}

#about .content {
    max-width: 100%; /* Maximum width for content */
    display: flex; /* Enable flexbox for content layout */
    flex-direction: row; /* Row direction for flex items */
}

.media {
    width: 50%; /* 50% width for media (image and video) */
    display: flex; /* Use flexbox for media items */
    flex-direction: column; /* Column direction for stacking */
    gap: 50px; /* Space between image and video */
}

.media img,
.media video {
    width: 100%; /* Full width of the media container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
    border: 5px solid black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}


#about p {
    width: 50%; /* 50% width for the paragraph */
    font-size: 30px;
    color: #555; /* Color for paragraph text */
    line-height: 1.6; /* Line height for readability */
    margin-top: 20px;
    text-align: center;
    margin-left: 40px; /* Space between media and paragraph */
}


/* Education Section */
#education {
    background-color: #f9f9f9;
    color: #333;
}
#education h2{
    margin-top: -50px;
margin-left:-1150px;;
}

.timeline li {
    margin-bottom: 1.5rem;
    border-left: 2px solid #e74c3c;
    padding-left: 20px;
}
.timeline{
    margin-bottom: -30px;
}




/* Skills Section */
#skills {
    background-color: #333;
    color: white;
}
#skills h2{
    color: rgb(201, 185, 155);
}

.skill-card {
    background-color: #444;
    padding: 32px;
    margin-bottom: 32px; /* Margin bottom in pixels */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.skill-card h3,u{
    color: rgb(2, 129, 129);
}

.skills-content {
    display: flex;
    justify-content: space-around;
}

/* Projects Section */
#projects {
    background-color: #f0f0f0;
}
#projects h2{
    margin-left: -1100px;
}
#projects h3{
    color: rgb(105, 7, 66);
    
}

.project-card {
    background-color: rgb(153, 131, 131);
    padding: 30px;
    color: rgb(84, 2, 51);
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

/* Awards Section */
#awards {
    background-color: #d3d3d3c4; /* Background color for the About section */
    color: #333;
}

.award-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.award-list li {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Contact Section */
#contact {
    background-color: #333;
    color: white;
}
#contact h2{
    color: rgb(216, 69, 69);
    margin-left: -1100px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-list i {
    margin-right: 10px;
    color: #e74c3c;
}

.contact-list a {
    color: white;
}

.contact-list a:hover {
    color: #e74c3c;
    transition: 0.3s;
}

/* Social Media Section */
#social-media {
    background-color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icons a {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #e74c3c;
}
footer {
    background-color: #333; /* Background color of the footer */
    color: rgb(143, 137, 137); /* Text color */
    font-weight: 700;
    text-align: left; /* Center align text */
    padding: 20px 50px 10px; /* Padding for the footer */
    position: relative; /* Positioning */
    bottom: 0; /* Position at the bottom */
    width: 100%; /* Full width */
}

.footer-content {
    max-width: 100%; /* Max width for content */
}
footer :hover{
    color: rgb(251, 55, 55);

}

/* Your existing CSS here... */

/* Add the responsive styles at the end of your CSS file */

/* Responsive Styles */
@media (max-width: 1000px) and (max-height:1400px) and (min-width:850px) {
    nav {
        flex-direction: column; /* Stack items in the navbar for tablets */
        align-items: center; /* Center items */
    }

    .right-menu {
        flex-direction:column; /* Stack the menu items */
        width: 100%; /* Full width for right menu */
        justify-content: center; /* Center items */
    }
    #education h2{ 
        margin-left: 150px;
    }
    #projects h2{
        margin-left: 100px;
    }
    #projects #projects-list{
        /* margin-left: -23px; */
    }
    .project-card {
        background-color: rgb(153, 131, 131);
        padding: 30px;
        color: rgb(84, 2, 51);
        margin-top: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
    }
    #contact h2{
        margin-left: 100px;
    }
    #about {
    
        flex-direction: row; /* Stack items vertically in About section */
    }

    .media {
        width: 100%; /* Full width for media */
    }

    #about p {
        width: 100%; /* Full width for paragraph */
        font-size: 1.5rem; /* Adjust font size */
    }
}


@media (max-width: 1380px) and (max-height:1000px) and (min-width:1000px) {
    nav {
        flex-direction: column; /* Stack items in the navbar for tablets */
        align-items: center; /* Center items */
    }

    .right-menu {
        flex-direction: column; /* Stack the menu items */
        width: 100%; /* Full width for right menu */
        justify-content: center; /* Center items */
    }
    #education h2{ 
        margin-left: 150px;
    }
    #projects h2{
        margin-left: 100px;
    }
    #projects #projects-list{
        /* margin-left: -23px; */
    }
    .project-card {
        background-color: rgb(153, 131, 131);
        padding: 30px;
        color: rgb(84, 2, 51);
        margin-top: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
    }
    #contact h2{
        margin-left: 100px;
    }
    #about {
    
        flex-direction: row; /* Stack items vertically in About section */
    }

    .media {
        width: 100%; /* Full width for media */
    }

    #about p {
        width: 100%; /* Full width for paragraph */
        font-size: 1.5rem; /* Adjust font size */
    }
}


@media (max-width: 850px) and (min-width: 640px) {
    nav {
        flex-direction: column; /* Stack items in the navbar for tablets */
        align-items: center; /* Center items */
    }
    .right-menu {
        flex-direction: column; /* Stack the menu items */
        width: 100%; /* Full width for right menu */
        justify-content: center; /* Center items */
    }
   

    #education h2{ 
        margin-left: 150px;
    }
    #projects h2{
        margin-left: 100px;
    }
    #projects #projects-list{
        /* margin-left: -23px; */
    }
    #contact h2{
        margin-left: 100px;
    }
    #about .content{
        display: flex;
        flex-direction: column;
    }
    #about #about-text{
        width: 90%;
        align-items:end;
        font-size: 2.0em;
    }
    .project-card {
        background-color: rgb(153, 131, 131);
        padding: 30px;
        color: rgb(84, 2, 51);
        margin-top: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
    }

    .media #profile-image,.media #profile-video{
      width:200%;
    }
  

}


@media (max-width: 640px) and (min-width: 420px) {
    nav {
        flex-direction: column; /* Stack items in the navbar for tablets */
        align-items: center; /* Center items */
    }
    #about p{
        
        width: 50%; /* 50% width for the paragraph */
        font-size: 20px;
        color: #555; /* Color for paragraph text */
        line-height: 1.6; /* Line height for readability */
        margin-top: 20px;
        padding-right: 10%;
        /* padding-left: 10%; */
        text-align: center;
      
    }
    #hero .hero-content p{
        padding-left: 20px;
    }

    .right-menu {
        display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    right: 0;
    top: 50px;
    }
 
    .hamburger{
      display: block;
      color: #ce4434;
      
    }
  .hamburger:hover + .right-menu,
  .right-menu:hover {
    display: flex;
  }
  #navcon{
    justify-content: space-between;
    width: 100%;
  }
  .project-card {
    background-color: rgb(153, 131, 131);
    padding: 30px;
    color: rgb(84, 2, 51);
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}
  .right-menu li {
    padding: 10px;
    border-bottom: 1px solid #080606;
  }

  .right-menu a {
    color: #fff;
    text-decoration: none;
  }

    .brand .hamburger:hover{
        color:red        
    }
    #education h2{ 
        margin-left: 150px;
    }
    #projects h2{
        margin-left: 100px;
    }
    #projects #projects-list{
        /* margin-left: -23px; */
    }
    #contact h2{
        margin-left: 100px;
    }
    #about .content{
        display: flex;
        flex-direction: column;
    }
    #about #about-text{
        width: 90%;
        align-items:end;
        font-size: 25px;
    }

    .media #profile-image,.media #profile-video{
      width:200%;
    }
    .skills-content .skill-card{
        gap: 200px;
        width: 40%;

        /* margin-right: 20px; */
    } 

    /* Projects Section */

}

@media (max-width: 420px) and (min-width: 200px) {

    #hero .hero-content p{
        padding-left: 10px;
    }

    nav {
        flex-direction: column; /* Stack items in the navbar for tablets */
        align-items: center; /* Center items */
    }
  .right-menu {
        display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    right: 0;
    top: 50px;
    }

    .hamburger{
      display: block;
      color: #ce4434;
      
    }
    .project-card {
        background-color: rgb(153, 131, 131);
        padding: 30px;
        color: rgb(84, 2, 51);
        margin-top: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
    }
  .hamburger:hover + .right-menu,
  .right-menu:hover {
    display: flex;
  }
  #navcon{
    justify-content: space-between;
    width: 100%;
  }

  .right-menu li {
    padding: 10px;
    border-bottom: 1px solid #080606;
  }

  .right-menu a {
    color: #fff;
    text-decoration: none;
  }


    #education h2{ 
        margin-left: 70px;
    }
    #projects h2{
        margin-left: 100px;
    }
    #projects #projects-list{
        /* margin-left: -23px; */
    }
    #contact h2{
        margin-left: 100px;
    }
    .skills-content{
        margin-left: 10px;
        margin-right: 10px;

    }
    .skills-content .skill-card{
        gap: 200px;
        width: 45%;
        /* margin-right: 20px; */
    } 
    .skills-content .skill-card #soft-skills-list{
   
    font-size: 12px;

    } 

    .skills-content .skill-card #hard-skills-list{
        font-size: 12px;
    
        } 
    #about .content{
        display: flex;
        flex-direction: column;
    }
    #about #about-text{
        width: 90%;
        align-items:end;
        font-size: 20px;
    }
    #about p{
        
        width: 50%; /* 50% width for the paragraph */
        font-size: 20px;
        color: #555; /* Color for paragraph text */
        line-height: 1.6; /* Line height for readability */
        margin-top: 20px;
        padding-right: 10%;
        text-align: center;
      
    }

    .media #profile-image,.media #profile-video{
      width:200%;
    }
    
}


